<app-appcontent>
    <h1>
        {{ page }}
        <small>
            Version2.0
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard-o"></i>
                Home
            </a>
        </li>
        <li class="active">{{ page }}</li>
    </ol>

    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Agent</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                            class="fa fa-remove"></i></button>
                </div>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>ชื่อตัวแทน</label>
                            <input [(ngModel)]="name" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button (click)="onSubmit()" class="btn btn-block bg-purple">
                    เพิ่มข้อมูล
                </button>
            </div>
        </div>
    </section>
</app-appcontent>