<app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
      <small>
        Version2.0
      </small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i  class="fa fa-dashboard-o"></i>
          Home
        </a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    Anglar and AdminLTE Integration <br> by <a href="#">ชอบเค็มๆ</a>
  </section>
</div>
<app-appfooter></app-appfooter>
<app-appsetting></app-appsetting>