<app-appcontent>
  <h1>
    {{ page }}
    <small>
      Version2.0
    </small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard-o"></i>
        Home
      </a>
    </li>
    <li class="active">{{ page }}</li>
  </ol>
  <div class="row" style="margin-top: 15px;">
    <!-- รถ -->
    <div class="col-sm-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Cars</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <div class="box-body">
          <!-- แถวที่1 -->
          <div class="row">
            <div class="col-md-3 pull-right">
              <div class="form-group">
                <label>วันที่ถอน</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>
            <div class="col-md-3 pull-right">
              <div class="form-group">
                <label>วันที่บรรจุ</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>
          </div>
          <!-- แถวที่ 2 -->
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label>ประกอบการ</label>
                <select name="" id="" class="form-control select2" style="width: 100%;">
                  <option value="1" selected="selected">สปิ้ต</option>
                  <option value="1">เปี๊ยก</option>
                  <option value="1">กาต้า</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ลักษณะรถ</label>
                <select name="" id="" class="form-control select2" style="width: 100%;">
                  <option value="1" selected="selected">สปิ้ต</option>
                  <option value="1">เปี๊ยก</option>
                  <option value="1">กาต้า</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ลำดับ</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>เลขทะเบียน</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>จังหวัด</label>
                <select name="" id="" class="form-control select2" style="width: 100%;">
                  <option value="1" selected="selected">สปิ้ต</option>
                  <option value="1">เปี๊ยก</option>
                  <option value="1">กาต้า</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>งวดภาษี</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>
          </div>
          <!-- แถวที่ 3 -->
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label>สถานะ</label>
                <select name="" id="" class="form-control select2" style="width: 100%;">
                  <option value="1" selected="selected">สปิ้ต</option>
                  <option value="1">เปี๊ยก</option>
                  <option value="1">กาต้า</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ยี่ห้อ</label>
                <select name="" id="" class="form-control select2" style="width: 100%;">
                  <option value="1" selected="selected">สปิ้ต</option>
                  <option value="1">เปี๊ยก</option>
                  <option value="1">กาต้า</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ตัวแทน</label>
                <select name="" id="" class="form-control select2" style="width: 100%;">
                  <option value="1" selected="selected">สปิ้ต</option>
                  <option value="1">เปี๊ยก</option>
                  <option value="1">กาต้า</option>
                </select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>ผู้ถือกรรมสิทธิ์</label>
                <select name="" id="" class="form-control select2" style="width: 100%;">
                  <option value="1" selected="selected">สปิ้ต</option>
                  <option value="1">เปี๊ยก</option>
                  <option value="1">กาต้า</option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ผู้เช่าซื้อ</label>
                <select name="" id="" class="form-control select2" style="width: 100%;">
                  <option value="1" selected="selected">สปิ้ต</option>
                  <option value="1">เปี๊ยก</option>
                  <option value="1">กาต้า</option>
                </select>
              </div>
            </div>

          </div>
          <!-- แถวที่ 4 -->
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label>เลขคัสซี</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>เลขเครื่อง</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>น้ำหนัก</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>น้ำหนักรวม</label>
                <input type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button class="btn btn-primary">
            เพิ่มข้อมูล
          </button>
        </div>
      </div>
    </div>

    <!-- คน -->
    <div class="col-sm-2">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agent</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <div class="box-body">
          <input type="text" class="form-control" placeholder="Enter ...">
          <table style="margin-top: 30px;" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ชื่อจริง-นามสกุล (ชื่อบริษัท ฯลฯ)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  ลุงพล
                  <button type="button" class="btn btm-sm bg-purple pull-right">
                    <i class="fa fa-caret-square-o-left"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  ป้าแต๋น
                  <button type="button" class="btn btm-sm bg-purple pull-right">
                    <i class="fa fa-caret-square-o-left"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- คน -->
    <div class="col-sm-2">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Note</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <div class="box-body">
          <input type="text" class="form-control" placeholder="Enter ...">
          <table style="margin-top: 30px;" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>รายการ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  Pariatur voluptas, tempora, impedit eligendi
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  Lorem ipsum dolor sit amet consectetur
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-appcontent>
