<app-appcontent>
  <h1>
    {{ page }}
    <small>
      Version2.0
    </small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard-o"></i>
        Home
      </a>
    </li>
    <li class="active">{{ page }}</li>
  </ol>

  <!-- เนื้อหา -->
  <section class="content">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Cars</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>

      <!-- ส่วนเพิ่มข้อมูล -->
      <div class="box-body">
        <form [formGroup]="form">
          <!-- แถวที่1 -->
          <div class="row">
            <div class="col-md-3 pull-right">
              <div class="form-group">
                <label>วันที่ถอน</label>
                <input type="text"  formControlName="imp_date" class="form-control" placeholder="Enter ...">
              </div>
            </div>
            <div class="col-md-3 pull-right">
              <div class="form-group">
                <label>วันที่บรรจุ</label>
                <input type="text" formControlName="exp_date" class="form-control" placeholder="Enter ...">
              </div>
            </div>
          </div>
          <!-- แถวที่ 2 -->
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label>ประกอบการ</label>
                <select formControlName="operator" id="" class="form-control select2" style="width: 100%;">
                  <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                  <option *ngFor="let data of operator;let i = index;" [value]="data._id"
                    [attr.selected]="i==0 ? true : null">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ลักษณะรถ</label>
                <select formControlName="category" class="form-control select2" style="width: 100%;">
                  <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                  <option *ngFor="let data of category;let i = index;" [value]="data._id"
                    [attr.selected]="i==0 ? true : null">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ลำดับ</label>
                <input formControlName="no" type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>เลขทะเบียน</label>
                <input formControlName="number" type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>จังหวัด</label>
                <select formControlName="province" class="form-control select2" style="width: 100%;">
                  <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                  <option *ngFor="let data of province;let i = index;" [value]="data.name"
                    [attr.selected]="i==0 ? true : null">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>งวดภาษี</label>
                <input formControlName="vat" type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>
          </div>
          <!-- แถวที่ 3 -->
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label>สถานะ</label>
                <select formControlName="status" class="form-control select2" style="width: 100%;">
                  <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                  <option *ngFor="let data of status;let i = index;" [value]="data._id"
                    [attr.selected]="i==0 ? true : null">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ยี่ห้อ</label>
                <select formControlName="brand" class="form-control select2" style="width: 100%;">
                  <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                  <option *ngFor="let data of brand;let i = index;" [value]="data._id"
                    [attr.selected]="i==0 ? true : null">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ตัวแทน</label>
                <select formControlName="agent" class="form-control select2" style="width: 100%;">
                  <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                  <option *ngFor="let data of agent;let i = index;" [value]="data.id"
                    [attr.selected]="i==0 ? true : null">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>ผู้ถือกรรมสิทธิ์</label>
                <select formControlName="ownership" class="form-control select2" style="width: 100%;">
                  <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                  <option *ngFor="let data of ownership;let i = index;" [value]="data.id"
                    [attr.selected]="i==0 ? true : null">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>ผู้เช่าซื้อ</label>
                <select formControlName="lease" class="form-control select2" style="width: 100%;">
                  <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                  <option *ngFor="let data of lease;let i = index;" [value]="data.id"
                    [attr.selected]="i==0 ? true : null">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

          </div>
          <!-- แถวที่ 4 -->
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label>เลขคัสซี</label>
                <input formControlName="casis" type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>เลขเครื่อง</label>
                <input formControlName="engine" type="text" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>น้ำหนัก</label>
                <input formControlName="weight" type="number" class="form-control" placeholder="Enter ...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label>น้ำหนักรวม</label>
                <input formControlName="total_weight" type="number" class="form-control" placeholder="Enter ...">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="box-footer">
        <button type="button" *ngIf="editable==false" (click)="onSubmit()" class="btn bg-maroon">
          <i class="fa fa-plus"></i>
          เพิ่มข้อมูล
        </button>
        <button type="button" *ngIf="editable==true" class="btn bg-yellow">
          <i class="fa fa-edit"></i>
          แก้ไขข้อมูล
        </button>
        <button type="button" class="btn bg-purple" data-toggle="modal" data-target="#modal-default"
          style="margin:0 8px;">
          <i class="fa fa-search"></i>
          ค้นหาข้อมูล
        </button>
        <button type="button" (click)="onCancel()" *ngIf="editable==true" class="btn btn-default">
          <i class="fa fa-close"></i>
          ยกเลิก
        </button>
      </div>
    </div>

    <div class="box box-primary">
      <div class="box-header">
        <div class="box-title">Data Table</div>
      </div>

      <div class="box-body">
        <ol class="breadcrumb">
          <li>
            จำนวนทั้งสิ้น
          </li>
          <li class="active">{{ total_items }} รายการ</li>
        </ol>

        <!-- ตาราง -->
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>ประกอบการ</th>
              <th>ลำดับ</th>
              <th>เลขทะเบียน</th>
              <th>งวด</th>
              <th>สถานะ</th>
              <th>ตัวแทน</th>
              <th>ผู้ถือกรรมสิทธิ์</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of items;let i = index;">
              <td>
                <span *ngIf="option.sp==1">{{ i+1 }}</span>
                <span *ngIf="option.sp>1">{{ (option.sp-1)*option.lp+i+1 }}</span>
              </td>
              <td>{{ data.operator }}</td>
              <td>
                {{ data.no }}
              </td>
              <td>
                <span tooltip="{{ data.category }}">
                  {{ data.number }} {{ data.prov }}
                </span>
              </td>
              <td>{{ data.vat }}</td>
              <td>{{ data.status }}</td>
              <td>{{ data.agent }}</td>
              <td>{{ data.ownership }}</td>
              <td>
                <div class="btn-group">
                  <button type="button" (click)="onView(data.id)" class="btn btn-icon bg-maroon"><i class="fa fa-eye"></i></button>
                  <button type="button" (click)="onDelete(data.id)" class="btn btn-icon bg-maroon"><i class="fa fa-trash"></i></button>
                </div>
              </td>
            </tr>
        </table>

        <pagination [totalItems]="total_items" [(ngModel)]="option.sp" [itemsPerPage]="option.lp" [maxSize]="10"
          (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </section>


  <!-- Modal -->
  <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">ค้นหาข้อมูล</h4>
        </div>
        <div class="modal-body">
          <!-- ส่วนค้นหาข้อมูล -->
          <div class="box-body">
            <form [formGroup]="searchForm">
              <!-- Row1 -->
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>ประกอบการ</label>
                    <select formControlName="operator" name="operator" class="form-control select2"
                      style="width: 100%;">
                      <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                      <option *ngFor="let data of operator;let i = index;" [ngValue]="data._id"
                        [attr.selected]="i==0 ? true : null">
                        {{ data.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>ลักษณะรถ</label>
                    <select formControlName="category" class="form-control select2" style="width: 100%;">
                      <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                      <option *ngFor="let data of category;let i = index;" [value]="data._id"
                        [attr.selected]="i==0 ? true : null">
                        {{ data.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>สถานะ</label>
                    <select formControlName="status" class="form-control select2" style="width: 100%;">
                      <option value="" [selected]="true">โปรดระบุข้อมูล</option>
                      <option *ngFor="let data of status;let i = index;" [value]="data._id"
                        [attr.selected]="i==0 ? true : null">
                        {{ data.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>งวดภาษี</label>
                    <input type="text" formControlName="vat" class="form-control" placeholder="Enter ...">
                  </div>
                </div>
              </div>

              <!-- Row2 -->
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>เลขทะเบียน</label>
                    <input type="text" formControlName="number" class="form-control" placeholder="Enter ...">
                  </div>
                </div>


                <div class="col-sm-3">
                  <div class="form-group">
                    <label>ตัวแทน</label>
                    <select formControlName="agent" class="form-control select2" style="width: 100%;">
                      <option value="0" [selected]="true">ทั้งหมด</option>
                      <option *ngFor="let data of agent;let i = index;" [value]="data.id">
                        {{ data.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label>ผู้ถือกรรมสิทธิ์</label>
                    <select formControlName="ownership" class="form-control select2" style="width: 100%;">
                      <option value="0" [selected]="true">ทั้งหมด</option>
                      <option *ngFor="let data of ownership;let i = index;" [value]="data.id">
                        {{ data.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" (click)="onSearch()" class="btn bg-purple" style="margin:0 8px;">
            <i class="fa fa-search"></i>
            ค้นหา
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</app-appcontent>